.p-inputtext.float {
    border: none;
    border-bottom: 1px solid #d4d6d9;
    border-radius: 0;
    width: 100%;
}

.p-inputtext.float:enabled:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}

.p-float-label {
  input:focus ~ label,
  input.p-filled ~ label,
  textarea:focus ~ label,
  textarea.p-filled ~ label,
  .p-inputwrapper-focus ~ label,
  .p-inputwrapper-filled ~ label {
    top: -0.7rem;
    left: 0;
    font-size: 12px;
  }
}
.error-message {
  position: absolute;
  color: #f02c2c;
  font-weight: 700;
  font-size: 11px;
}
