.hover:hover {
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

.width-default {
  &:first-child {
    width: 5%;
  }
  &:last-child {
    width: 10%;
  }
  width: 20%;
}

::ng-deep {
  .p-paginator {
    border-radius: 0;
  }
}
