::ng-deep p-calendar.float .p-inputtext {
  border: none;
  border-bottom: 1px solid #d4d6d9;
  border-radius: 0;
  width: 100%;
}

.p-calendar.float:enabled:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top: -0.7rem;
  left: 0;
  font-size: 12px;
}

::ng-deep.p-calendar.float:not(.p-calendar-disabled).p-focus > .p-inputtext {
  box-shadow: none;
  border-color: var(--primary-color);
}

::ng-deep .p-calendar.p-calendar-w-btn {
  width: 100%;
}

::ng-deep {
  .p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
    box-shadow: none;
    border-color: var(--primary-color);
  }
}
