.chips-multiple-container {
  height: auto;
  margin: 0;
  padding: 0.25rem 0.25rem;
  gap: 0.25rem;
  list-style-type: none;
  cursor: text;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;

  border: none;
  border-bottom: 1px solid #d4d6d9;
  border-radius: 0;
  width: 100%;
  .chips-item {
    padding: 0.25rem 0.75rem;
    background: #f1f5f9;
    color: #1e293b;
    border-radius: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.p-inputtext.float {
  border: none;
  width: 104%;
}

.mb-custom {
  margin-top: 1rem;
}

.pi.pi-times {
  z-index: 1;
}

.pi.pi-times:hover {
  cursor: pointer;
}

.clear-icon {
  position: absolute;
  right: 0.75rem;
  top: 52%;
  color: #83888f;
  transform: translateY(-50%);
}

.p-inputtext {
  padding-right: 2.5rem;
}

.dropdown-panel {
  background: #ffffff;
  color: #69707a;
  border: 0 none;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1000;
  ul {
    margin: 0;
    padding: 0.75rem 0;
    .dropdown-items {
      padding: 0.75rem;
      list-style: none;
      &:hover {
        background-color: rgba(255, 179, 64, 0.24);
        cursor: pointer;
      }
    }
  }

}
