.field {
  margin-bottom: 0;
}
.w-custom {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .w-custom {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
::ng-deep {
  .dialog-custom-form {
    width: 30% !important;
    height: auto !important;
  }

  .dialog-custom-assign {
    width: 15% !important;
    height: auto !important;
  }

  @media (max-width: 480px) {
    .dialog-custom-form {
        width: 70% !important;
        height: auto !important;
    }

    .dialog-custom-assign {
        width: 70% !important;
        height: auto !important;
    }
  }
}
