::ng-deep {
  .btn-menu {
    background-color: #dfe3e8;
    border: 1px solid #dfe3e8;
    color: #475569;
    border-radius: 5px;
    height: 39px;
  }
  .btn-selected {
    background-color: #75787b;
    color: #fff;
  }
}
