@if (form) {
  <form [formGroup]="form" (ngSubmit)="saveProductButton()">
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12 md:col-6">
        <app-input-text
          placeholder="Ingrese descuento por porcentaje (%)"
          label="Descuento por porcentaje"
          controlName="percentageDiscount"
          pKeyFilter="num"></app-input-text>
        <span class="discount-label">
          * Dejar en blanco para desactivar descuento
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <app-input-text
          placeholder="Ingrese descuento por efectivo"
          label="Descuento por efectivo (S/)"
          controlName="cashDiscount"
          pKeyFilter="num"></app-input-text>
        <span class="discount-label">
          * Dejar en blanco para desactivar descuento
        </span>
      </div>
      <div class="field col-12">
        <app-input-image
          [productId]="productId"
          [imageSaved]="imageSaved"
          [imagesSaved]="imagesSaved"
          [images]="(images | async) ?? []"
          (selectedFilesChange)="getFormData($event)"
          (imagesToDelete)="imagesToDelete($event)" />
      </div>
      <div class="flex justify-content-end w-full gap-2 p-4">
        <button
          [routerLink]="['/inventories/products']"
          type="button"
          class="w-full md:w-2 p-button-secondary border-none"
          pButton
          [outlined]="true"
          label="Regresar"></button>
        <button
          type="submit"
          class="w-full md:w-2"
          pButton
          label="Guardar"></button>
      </div>
    </div>
  </form>
}
<p-toast />
