.p-inputtext.float {
  border: none;
  border-bottom: 1px solid #d4d6d9;
  border-radius: 0;
  width: 100%;
}

.p-inputtext.float:enabled:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label {
  top: -0.7rem;
  left: 0.75rem;
  font-size: 12px;
}

.mb-custom {
  margin-top: 1rem;
}

.pi.pi-times {
  z-index: 1;
}

.pi.pi-times:hover {
  cursor: pointer;
}

.clear-icon {
  position: absolute;
  right: 0.75rem;
  top: 52%;
  color: #83888f;
  transform: translateY(-50%);
}

.p-inputtext {
  padding-right: 2.5rem;
}

.dropdown-panel {
  background: #ffffff;
  color: #69707a;
  border: 0 none;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1000;
  ul {
    margin: 0;
    padding: 0.75rem 0;
    max-height: 240px;
    overflow-y: hidden;
    .dropdown-items {
      padding: 0.75rem;
      list-style: none;
      &:hover {
        background-color: var(--primary-light-color);
        cursor: pointer;
      }
    }
  }
  ul:hover {
    overflow-y: scroll;
    scrollbar-color: #d4d6d9 transparent;
    scrollbar-width: thin;
  }
  ul:hover::-webkit-scrollbar {
    width: 6px;
  }
  ul:hover::-webkit-scrollbar-thumb {
    background-color: #d4d6d9;
    border-radius: 10px;
  }
  ul:hover::-webkit-scrollbar-track {
    background: transparent;
  }
}
