<form [formGroup]="myForm" (ngSubmit)="login()">
  <div class="surface-0">
    <div
      class="flex align-items-center justify-content-between flex-column h-screen">
      <div
        class="flex flex-column align-items-center justify-content-center w-full md:w-4 h-full text-center py-6 px-4">
        <a [routerLink]="['/']" class="mb-6">
          <img src="assets/logo/logo4.jfif" alt="logo.svg" width="50%" />
        </a>
        <div class="flex flex-column">
          <span class="p-input-icon-left w-full mb-4">
            <i class="pi pi-envelope"></i>
            <input
              id="email"
              name="username"
              formControlName="username"
              type="text"
              pInputText
              class="w-full md:w-25rem text-color-secondary surface-50 border-200"
              placeholder="Email" />
          </span>
          <span class="p-input-icon-left w-full mb-4">
            <i class="pi pi-lock z-2"></i>
            <p-password
              id="password"
              name="password"
              formControlName="password"
              placeholder="Password"
              [inputStyle]="{ paddingLeft: '2.5rem' }"
              inputStyleClass="w-full md:w-25rem text-color-secondary surface-50 border-200"
              [toggleMask]="true"
              [feedback]="false"></p-password>
          </span>
          <button
            pButton
            pRipple
            class="w-full mb-4"
            type="submit"
            label="Login"
            [disabled]="myForm.invalid"></button>
        </div>
      </div>
      <div class="flex flex-wrap align-items-center pb-8 px-4">
        <h4 class="m-0 mr-5" style="line-height: 22px">nv app</h4>
      </div>
    </div>
  </div>
</form>
