@if (form) {
  <form [formGroup]="form" (ngSubmit)="saveCategoryButton()">
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12">
        <app-input-text
          label="Categoría"
          for="category"
          type="text"
          id="category"
          placeholder="Ingresa la categoría"
          controlName="description"
          [errorMessage]="errorMessage"></app-input-text>
      </div>
      <button
        type="submit"
        pButton
        label="Guardar"
        class="mt-3"
        [disabled]="isValidForm"></button>
    </div>
  </form>
}
