@if (form) {
  <form [formGroup]="form" (ngSubmit)="saveMeasurementButton()">
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12">
        <app-input-text
          label="Unidad de medida"
          for="measurement"
          type="text"
          id="measurement"
          placeholder="Ingresa la unidad de medida"
          controlName="description"></app-input-text>
      </div>
      <button
        type="submit"
        pButton
        label="Guardar"
        class="mt-3"
        [disabled]="isValidForm"></button>
    </div>
  </form>
}
