::ng-deep p-multiselect.float .p-multiselect {
  border: none;
  border-bottom: 1px solid #d4d6d9;
  border-radius: 0;
  width: 100%;
}

::ng-deep.float .p-multiselect:not(.p-disabled):hover {
  box-shadow: none;
  border-color: var(--primary-color);
}
::ng-deep .p-multiselect-label-container {
  display: inline;
}
.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top: -0.7rem;
  left: 0;
  font-size: 12px;
}
